SRHF/Web References/wrUSG/wsUSG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUSG">
        <s:complexType />
      </s:element>
      <s:element name="GetUSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetUSGByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSGByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSGByIDResult" type="tns:USG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="USG">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="I_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Charge" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUSGByEMR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSGByEMRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSGByEMRResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSGByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSGByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSGByDateResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSGByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="df" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSGByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSGByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usg" type="tns:USG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUSGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usg" type="tns:USG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUSGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUSG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usg" type="tns:USG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUSGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUSGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonthlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYearlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUSGSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSG" />
  </wsdl:message>
  <wsdl:message name="GetUSGSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSGResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSGByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSGByID" />
  </wsdl:message>
  <wsdl:message name="GetUSGByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSGByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSGByEMRSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSGByEMR" />
  </wsdl:message>
  <wsdl:message name="GetUSGByEMRSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSGByEMRResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSGByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSGByDate" />
  </wsdl:message>
  <wsdl:message name="GetUSGByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSGByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSGByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUSGByDates" />
  </wsdl:message>
  <wsdl:message name="GetUSGByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUSGByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="AddUSGSoapIn">
    <wsdl:part name="parameters" element="tns:AddUSG" />
  </wsdl:message>
  <wsdl:message name="AddUSGSoapOut">
    <wsdl:part name="parameters" element="tns:AddUSGResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUSGSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUSG" />
  </wsdl:message>
  <wsdl:message name="UpdateUSGSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUSGResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUSGSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUSG" />
  </wsdl:message>
  <wsdl:message name="DeleteUSGSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUSGResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyNo" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonthlyNo" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonthlyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetYearlyNo" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetYearlyNoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUSGSoap">
    <wsdl:operation name="GetUSG">
      <wsdl:input message="tns:GetUSGSoapIn" />
      <wsdl:output message="tns:GetUSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSGByID">
      <wsdl:input message="tns:GetUSGByIDSoapIn" />
      <wsdl:output message="tns:GetUSGByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSGByEMR">
      <wsdl:input message="tns:GetUSGByEMRSoapIn" />
      <wsdl:output message="tns:GetUSGByEMRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSGByDate">
      <wsdl:input message="tns:GetUSGByDateSoapIn" />
      <wsdl:output message="tns:GetUSGByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSGByDates">
      <wsdl:input message="tns:GetUSGByDatesSoapIn" />
      <wsdl:output message="tns:GetUSGByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUSG">
      <wsdl:input message="tns:AddUSGSoapIn" />
      <wsdl:output message="tns:AddUSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUSG">
      <wsdl:input message="tns:UpdateUSGSoapIn" />
      <wsdl:output message="tns:UpdateUSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUSG">
      <wsdl:input message="tns:DeleteUSGSoapIn" />
      <wsdl:output message="tns:DeleteUSGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <wsdl:input message="tns:GetDailyNoSoapIn" />
      <wsdl:output message="tns:GetDailyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <wsdl:input message="tns:GetMonthlyNoSoapIn" />
      <wsdl:output message="tns:GetMonthlyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <wsdl:input message="tns:GetYearlyNoSoapIn" />
      <wsdl:output message="tns:GetYearlyNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUSGSoap" type="tns:wsUSGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUSG">
      <soap:operation soapAction="http://tempuri.org/GetUSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByID">
      <soap:operation soapAction="http://tempuri.org/GetUSGByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByEMR">
      <soap:operation soapAction="http://tempuri.org/GetUSGByEMR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByDate">
      <soap:operation soapAction="http://tempuri.org/GetUSGByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByDates">
      <soap:operation soapAction="http://tempuri.org/GetUSGByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUSG">
      <soap:operation soapAction="http://tempuri.org/AddUSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUSG">
      <soap:operation soapAction="http://tempuri.org/UpdateUSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUSG">
      <soap:operation soapAction="http://tempuri.org/DeleteUSG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUSGSoap12" type="tns:wsUSGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUSG">
      <soap12:operation soapAction="http://tempuri.org/GetUSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByID">
      <soap12:operation soapAction="http://tempuri.org/GetUSGByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByEMR">
      <soap12:operation soapAction="http://tempuri.org/GetUSGByEMR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByDate">
      <soap12:operation soapAction="http://tempuri.org/GetUSGByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSGByDates">
      <soap12:operation soapAction="http://tempuri.org/GetUSGByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUSG">
      <soap12:operation soapAction="http://tempuri.org/AddUSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUSG">
      <soap12:operation soapAction="http://tempuri.org/UpdateUSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUSG">
      <soap12:operation soapAction="http://tempuri.org/DeleteUSG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap12:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUSG">
    <wsdl:port name="wsUSGSoap" binding="tns:wsUSGSoap">
      <soap:address location="http://localhost:49983/wsUSG.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUSGSoap12" binding="tns:wsUSGSoap12">
      <soap12:address location="http://localhost:49983/wsUSG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>