SRHF/Web References/wrICD/wsICD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetICDCode">
        <s:complexType />
      </s:element>
      <s:element name="GetICDCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetICDCodeResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetICDCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetICDCode" />
  </wsdl:message>
  <wsdl:message name="GetICDCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetICDCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="wsICDSoap">
    <wsdl:operation name="GetICDCode">
      <wsdl:input message="tns:GetICDCodeSoapIn" />
      <wsdl:output message="tns:GetICDCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsICDSoap" type="tns:wsICDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetICDCode">
      <soap:operation soapAction="http://tempuri.org/GetICDCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsICDSoap12" type="tns:wsICDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetICDCode">
      <soap12:operation soapAction="http://tempuri.org/GetICDCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsICD">
    <wsdl:port name="wsICDSoap" binding="tns:wsICDSoap">
      <soap:address location="http://localhost:49983/wsICD.asmx" />
    </wsdl:port>
    <wsdl:port name="wsICDSoap12" binding="tns:wsICDSoap12">
      <soap12:address location="http://localhost:49983/wsICD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>