SRHF/Web References/wrXRAY/wsXRAY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetXray">
        <s:complexType />
      </s:element>
      <s:element name="GetXrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXrayResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetXRAYByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXRAYByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXRAYByIDResult" type="tns:XRAY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="XRAY">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="I_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Charge" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetXrayByEMR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXrayByEMRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXrayByEMRResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXRAYByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXRAYByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXRAYByDateResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXRAYByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="df" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXRAYByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXRAYByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddXray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xray" type="tns:XRAY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddXrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddXrayResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateXray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xray" type="tns:XRAY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateXrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateXrayResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteXray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xray" type="tns:XRAY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteXrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteXrayResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonthlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYearlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetXraySoapIn">
    <wsdl:part name="parameters" element="tns:GetXray" />
  </wsdl:message>
  <wsdl:message name="GetXraySoapOut">
    <wsdl:part name="parameters" element="tns:GetXrayResponse" />
  </wsdl:message>
  <wsdl:message name="GetXRAYByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetXRAYByID" />
  </wsdl:message>
  <wsdl:message name="GetXRAYByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetXRAYByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetXrayByEMRSoapIn">
    <wsdl:part name="parameters" element="tns:GetXrayByEMR" />
  </wsdl:message>
  <wsdl:message name="GetXrayByEMRSoapOut">
    <wsdl:part name="parameters" element="tns:GetXrayByEMRResponse" />
  </wsdl:message>
  <wsdl:message name="GetXRAYByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetXRAYByDate" />
  </wsdl:message>
  <wsdl:message name="GetXRAYByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetXRAYByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetXRAYByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetXRAYByDates" />
  </wsdl:message>
  <wsdl:message name="GetXRAYByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetXRAYByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="AddXraySoapIn">
    <wsdl:part name="parameters" element="tns:AddXray" />
  </wsdl:message>
  <wsdl:message name="AddXraySoapOut">
    <wsdl:part name="parameters" element="tns:AddXrayResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateXraySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateXray" />
  </wsdl:message>
  <wsdl:message name="UpdateXraySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateXrayResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteXraySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteXray" />
  </wsdl:message>
  <wsdl:message name="DeleteXraySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteXrayResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyNo" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonthlyNo" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonthlyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetYearlyNo" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetYearlyNoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsXRAYSoap">
    <wsdl:operation name="GetXray">
      <wsdl:input message="tns:GetXraySoapIn" />
      <wsdl:output message="tns:GetXraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByID">
      <wsdl:input message="tns:GetXRAYByIDSoapIn" />
      <wsdl:output message="tns:GetXRAYByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXrayByEMR">
      <wsdl:input message="tns:GetXrayByEMRSoapIn" />
      <wsdl:output message="tns:GetXrayByEMRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByDate">
      <wsdl:input message="tns:GetXRAYByDateSoapIn" />
      <wsdl:output message="tns:GetXRAYByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByDates">
      <wsdl:input message="tns:GetXRAYByDatesSoapIn" />
      <wsdl:output message="tns:GetXRAYByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddXray">
      <wsdl:input message="tns:AddXraySoapIn" />
      <wsdl:output message="tns:AddXraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateXray">
      <wsdl:input message="tns:UpdateXraySoapIn" />
      <wsdl:output message="tns:UpdateXraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteXray">
      <wsdl:input message="tns:DeleteXraySoapIn" />
      <wsdl:output message="tns:DeleteXraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <wsdl:input message="tns:GetDailyNoSoapIn" />
      <wsdl:output message="tns:GetDailyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <wsdl:input message="tns:GetMonthlyNoSoapIn" />
      <wsdl:output message="tns:GetMonthlyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <wsdl:input message="tns:GetYearlyNoSoapIn" />
      <wsdl:output message="tns:GetYearlyNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsXRAYSoap" type="tns:wsXRAYSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXray">
      <soap:operation soapAction="http://tempuri.org/GetXray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByID">
      <soap:operation soapAction="http://tempuri.org/GetXRAYByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXrayByEMR">
      <soap:operation soapAction="http://tempuri.org/GetXrayByEMR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByDate">
      <soap:operation soapAction="http://tempuri.org/GetXRAYByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByDates">
      <soap:operation soapAction="http://tempuri.org/GetXRAYByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddXray">
      <soap:operation soapAction="http://tempuri.org/AddXray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateXray">
      <soap:operation soapAction="http://tempuri.org/UpdateXray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteXray">
      <soap:operation soapAction="http://tempuri.org/DeleteXray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsXRAYSoap12" type="tns:wsXRAYSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXray">
      <soap12:operation soapAction="http://tempuri.org/GetXray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByID">
      <soap12:operation soapAction="http://tempuri.org/GetXRAYByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXrayByEMR">
      <soap12:operation soapAction="http://tempuri.org/GetXrayByEMR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByDate">
      <soap12:operation soapAction="http://tempuri.org/GetXRAYByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXRAYByDates">
      <soap12:operation soapAction="http://tempuri.org/GetXRAYByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddXray">
      <soap12:operation soapAction="http://tempuri.org/AddXray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateXray">
      <soap12:operation soapAction="http://tempuri.org/UpdateXray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteXray">
      <soap12:operation soapAction="http://tempuri.org/DeleteXray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap12:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsXRAY">
    <wsdl:port name="wsXRAYSoap" binding="tns:wsXRAYSoap">
      <soap:address location="http://localhost:49983/wsXRAY.asmx" />
    </wsdl:port>
    <wsdl:port name="wsXRAYSoap12" binding="tns:wsXRAYSoap12">
      <soap12:address location="http://localhost:49983/wsXRAY.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>