SRHF/Web References/wrOPD/wsOPD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOPD">
        <s:complexType />
      </s:element>
      <s:element name="GetOPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOPDResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetOPDByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOPDByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOPDByDateResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOPDByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dtFr" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtTo" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOPDByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOPDByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOPD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opd" type="tns:OPD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OPD">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="I_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="YearlyNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OPDNo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOPDResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOPD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opd" type="tns:OPD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOPDResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOPD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="opd" type="tns:OPD" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOPDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteOPDResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonthlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYearlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEMRNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEMRNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEMRNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOPDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOPD" />
  </wsdl:message>
  <wsdl:message name="GetOPDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOPDResponse" />
  </wsdl:message>
  <wsdl:message name="GetOPDByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetOPDByDate" />
  </wsdl:message>
  <wsdl:message name="GetOPDByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetOPDByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetOPDByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetOPDByDates" />
  </wsdl:message>
  <wsdl:message name="GetOPDByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetOPDByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="AddOPDSoapIn">
    <wsdl:part name="parameters" element="tns:AddOPD" />
  </wsdl:message>
  <wsdl:message name="AddOPDSoapOut">
    <wsdl:part name="parameters" element="tns:AddOPDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOPDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOPD" />
  </wsdl:message>
  <wsdl:message name="UpdateOPDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOPDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOPDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOPD" />
  </wsdl:message>
  <wsdl:message name="DeleteOPDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOPDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyNo" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonthlyNo" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonthlyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetYearlyNo" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetYearlyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEMRNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEMRNo" />
  </wsdl:message>
  <wsdl:message name="GetEMRNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEMRNoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsOPDSoap">
    <wsdl:operation name="GetOPD">
      <wsdl:input message="tns:GetOPDSoapIn" />
      <wsdl:output message="tns:GetOPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOPDByDate">
      <wsdl:input message="tns:GetOPDByDateSoapIn" />
      <wsdl:output message="tns:GetOPDByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOPDByDates">
      <wsdl:input message="tns:GetOPDByDatesSoapIn" />
      <wsdl:output message="tns:GetOPDByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOPD">
      <wsdl:input message="tns:AddOPDSoapIn" />
      <wsdl:output message="tns:AddOPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOPD">
      <wsdl:input message="tns:UpdateOPDSoapIn" />
      <wsdl:output message="tns:UpdateOPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOPD">
      <wsdl:input message="tns:DeleteOPDSoapIn" />
      <wsdl:output message="tns:DeleteOPDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <wsdl:input message="tns:GetDailyNoSoapIn" />
      <wsdl:output message="tns:GetDailyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <wsdl:input message="tns:GetMonthlyNoSoapIn" />
      <wsdl:output message="tns:GetMonthlyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <wsdl:input message="tns:GetYearlyNoSoapIn" />
      <wsdl:output message="tns:GetYearlyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEMRNo">
      <wsdl:input message="tns:GetEMRNoSoapIn" />
      <wsdl:output message="tns:GetEMRNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsOPDSoap" type="tns:wsOPDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOPD">
      <soap:operation soapAction="http://tempuri.org/GetOPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPDByDate">
      <soap:operation soapAction="http://tempuri.org/GetOPDByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPDByDates">
      <soap:operation soapAction="http://tempuri.org/GetOPDByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOPD">
      <soap:operation soapAction="http://tempuri.org/AddOPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOPD">
      <soap:operation soapAction="http://tempuri.org/UpdateOPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOPD">
      <soap:operation soapAction="http://tempuri.org/DeleteOPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEMRNo">
      <soap:operation soapAction="http://tempuri.org/GetEMRNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsOPDSoap12" type="tns:wsOPDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOPD">
      <soap12:operation soapAction="http://tempuri.org/GetOPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPDByDate">
      <soap12:operation soapAction="http://tempuri.org/GetOPDByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPDByDates">
      <soap12:operation soapAction="http://tempuri.org/GetOPDByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOPD">
      <soap12:operation soapAction="http://tempuri.org/AddOPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOPD">
      <soap12:operation soapAction="http://tempuri.org/UpdateOPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOPD">
      <soap12:operation soapAction="http://tempuri.org/DeleteOPD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap12:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEMRNo">
      <soap12:operation soapAction="http://tempuri.org/GetEMRNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsOPD">
    <wsdl:port name="wsOPDSoap" binding="tns:wsOPDSoap">
      <soap:address location="http://localhost:49983/wsOPD.asmx" />
    </wsdl:port>
    <wsdl:port name="wsOPDSoap12" binding="tns:wsOPDSoap12">
      <soap12:address location="http://localhost:49983/wsOPD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>