SRHF/Web References/wrECG/wsECG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetECG">
        <s:complexType />
      </s:element>
      <s:element name="GetECGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetECGByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECGByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECGByIDResult" type="tns:ECG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ECG">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="I_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MonthlyNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diagnosis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Charge" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetECGByPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECGByPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECGByPatientResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECGByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECGByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECGByDateResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECGByDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="df" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECGByDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECGByDatesResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddECG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ecg" type="tns:ECG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddECGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddECGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateECG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ecg" type="tns:ECG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateECGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateECGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteECG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ecg" type="tns:ECG" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteECGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteECGResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonthlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonthlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYearlyNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYearlyNoResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetECGSoapIn">
    <wsdl:part name="parameters" element="tns:GetECG" />
  </wsdl:message>
  <wsdl:message name="GetECGSoapOut">
    <wsdl:part name="parameters" element="tns:GetECGResponse" />
  </wsdl:message>
  <wsdl:message name="GetECGByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetECGByID" />
  </wsdl:message>
  <wsdl:message name="GetECGByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetECGByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetECGByPatientSoapIn">
    <wsdl:part name="parameters" element="tns:GetECGByPatient" />
  </wsdl:message>
  <wsdl:message name="GetECGByPatientSoapOut">
    <wsdl:part name="parameters" element="tns:GetECGByPatientResponse" />
  </wsdl:message>
  <wsdl:message name="GetECGByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetECGByDate" />
  </wsdl:message>
  <wsdl:message name="GetECGByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetECGByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetECGByDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetECGByDates" />
  </wsdl:message>
  <wsdl:message name="GetECGByDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetECGByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="AddECGSoapIn">
    <wsdl:part name="parameters" element="tns:AddECG" />
  </wsdl:message>
  <wsdl:message name="AddECGSoapOut">
    <wsdl:part name="parameters" element="tns:AddECGResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateECGSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateECG" />
  </wsdl:message>
  <wsdl:message name="UpdateECGSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateECGResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteECGSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteECG" />
  </wsdl:message>
  <wsdl:message name="DeleteECGSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteECGResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyNo" />
  </wsdl:message>
  <wsdl:message name="GetDailyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonthlyNo" />
  </wsdl:message>
  <wsdl:message name="GetMonthlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonthlyNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetYearlyNo" />
  </wsdl:message>
  <wsdl:message name="GetYearlyNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetYearlyNoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsECGSoap">
    <wsdl:operation name="GetECG">
      <wsdl:input message="tns:GetECGSoapIn" />
      <wsdl:output message="tns:GetECGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECGByID">
      <wsdl:input message="tns:GetECGByIDSoapIn" />
      <wsdl:output message="tns:GetECGByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECGByPatient">
      <wsdl:input message="tns:GetECGByPatientSoapIn" />
      <wsdl:output message="tns:GetECGByPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECGByDate">
      <wsdl:input message="tns:GetECGByDateSoapIn" />
      <wsdl:output message="tns:GetECGByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECGByDates">
      <wsdl:input message="tns:GetECGByDatesSoapIn" />
      <wsdl:output message="tns:GetECGByDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddECG">
      <wsdl:input message="tns:AddECGSoapIn" />
      <wsdl:output message="tns:AddECGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateECG">
      <wsdl:input message="tns:UpdateECGSoapIn" />
      <wsdl:output message="tns:UpdateECGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteECG">
      <wsdl:input message="tns:DeleteECGSoapIn" />
      <wsdl:output message="tns:DeleteECGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <wsdl:input message="tns:GetDailyNoSoapIn" />
      <wsdl:output message="tns:GetDailyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <wsdl:input message="tns:GetMonthlyNoSoapIn" />
      <wsdl:output message="tns:GetMonthlyNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <wsdl:input message="tns:GetYearlyNoSoapIn" />
      <wsdl:output message="tns:GetYearlyNoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsECGSoap" type="tns:wsECGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetECG">
      <soap:operation soapAction="http://tempuri.org/GetECG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByID">
      <soap:operation soapAction="http://tempuri.org/GetECGByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByPatient">
      <soap:operation soapAction="http://tempuri.org/GetECGByPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByDate">
      <soap:operation soapAction="http://tempuri.org/GetECGByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByDates">
      <soap:operation soapAction="http://tempuri.org/GetECGByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddECG">
      <soap:operation soapAction="http://tempuri.org/AddECG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateECG">
      <soap:operation soapAction="http://tempuri.org/UpdateECG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteECG">
      <soap:operation soapAction="http://tempuri.org/DeleteECG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsECGSoap12" type="tns:wsECGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetECG">
      <soap12:operation soapAction="http://tempuri.org/GetECG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByID">
      <soap12:operation soapAction="http://tempuri.org/GetECGByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByPatient">
      <soap12:operation soapAction="http://tempuri.org/GetECGByPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByDate">
      <soap12:operation soapAction="http://tempuri.org/GetECGByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECGByDates">
      <soap12:operation soapAction="http://tempuri.org/GetECGByDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddECG">
      <soap12:operation soapAction="http://tempuri.org/AddECG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateECG">
      <soap12:operation soapAction="http://tempuri.org/UpdateECG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteECG">
      <soap12:operation soapAction="http://tempuri.org/DeleteECG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyNo">
      <soap12:operation soapAction="http://tempuri.org/GetDailyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonthlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetMonthlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYearlyNo">
      <soap12:operation soapAction="http://tempuri.org/GetYearlyNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsECG">
    <wsdl:port name="wsECGSoap" binding="tns:wsECGSoap">
      <soap:address location="http://localhost:49983/wsECG.asmx" />
    </wsdl:port>
    <wsdl:port name="wsECGSoap12" binding="tns:wsECGSoap12">
      <soap12:address location="http://localhost:49983/wsECG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>