SRHF/Web References/wrPatient/wsPatient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPatients">
        <s:complexType />
      </s:element>
      <s:element name="GetPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientsResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Server2Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ds">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPatientsByEmrName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientsByEmrNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientsByEmrNameResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientByMRD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MRD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientByMRDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientByMRDResult" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Patient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMRNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPatientByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientByIDResult" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientByEMR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EMR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientByEMRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientByEMRResult" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressAutoComplete">
        <s:complexType />
      </s:element>
      <s:element name="GetAddressAutoCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressAutoCompleteResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPatientResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePatientResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePatientResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectMSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectMSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectMSBResult" type="tns:MSB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MSB">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HospitalName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BedStrength" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPatientCareOPD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPatientCareCAS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPatientCareNew" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPatientCareOld" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAdmissionFromOPD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAdmissionFromCAS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationLAB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationXRAY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationENDO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationUSG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationECG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationBRON" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationCOLON" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationRADIO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationEEG" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationECHO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationPFT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationDIET" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationDIAL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationCTSCAN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationCHEMO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InvestigationPMR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationMajor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationMinor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryLiveMale" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryLiveFemale" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryStillMale" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryStillFemale" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DischargeAlive" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DischargeDeath" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DischargeDeathU48" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DischargeDeathO48" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PatientDischargedDays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AverageLengthOfStay" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalInPatientCensus" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgPercOfBedOccupancy" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BedTurnOverRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyCensusOfIndoorPatientMAX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyCensusOfIndoorPatientMIN" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NoOfAutopsy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CaseReferredOutsideMizoram" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HealthCare" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RSBY" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RecollectMSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecollectMSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecollectMSBResult" type="tns:MSB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b" type="tns:MSB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMSBResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b" type="tns:MSB" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMSBResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMSB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMSBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteMSBResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentWiseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDepartmentWiseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDepartmentWiseDataResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDepartmentWiseDataEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:DepartmentWiseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentWiseData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeptNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NewCase" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OldCase" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Average" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddDepartmentWiseDataEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDepartmentWiseDataEntryResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepartmentWiseDataEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:DepartmentWiseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDepartmentWiseDataEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDepartmentWiseDataEntryResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDepartmentWiseDataEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:DepartmentWiseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDepartmentWiseDataEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDepartmentWiseDataEntryResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWardWiseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWardWiseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWardWiseDataResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWardWiseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:WardWiseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WardWiseData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WardNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WardName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Bed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Admission" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discharge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Death" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgStay" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="BedOccupancy" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddWardWiseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddWardWiseDataResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWardWiseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:WardWiseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWardWiseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWardWiseDataResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWardWiseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:WardWiseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWardWiseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteWardWiseDataResult" type="tns:Server2Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatients" />
  </wsdl:message>
  <wsdl:message name="GetPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientsByEmrNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientsByEmrName" />
  </wsdl:message>
  <wsdl:message name="GetPatientsByEmrNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientsByEmrNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientByMRDSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientByMRD" />
  </wsdl:message>
  <wsdl:message name="GetPatientByMRDSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientByMRDResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientByID" />
  </wsdl:message>
  <wsdl:message name="GetPatientByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientByEMRSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientByEMR" />
  </wsdl:message>
  <wsdl:message name="GetPatientByEMRSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientByEMRResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressAutoCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddressAutoComplete" />
  </wsdl:message>
  <wsdl:message name="GetAddressAutoCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressAutoCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="AddPatientSoapIn">
    <wsdl:part name="parameters" element="tns:AddPatient" />
  </wsdl:message>
  <wsdl:message name="AddPatientSoapOut">
    <wsdl:part name="parameters" element="tns:AddPatientResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePatientSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="UpdatePatientSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePatientSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePatient" />
  </wsdl:message>
  <wsdl:message name="DeletePatientSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePatientResponse" />
  </wsdl:message>
  <wsdl:message name="CollectMSBSoapIn">
    <wsdl:part name="parameters" element="tns:CollectMSB" />
  </wsdl:message>
  <wsdl:message name="CollectMSBSoapOut">
    <wsdl:part name="parameters" element="tns:CollectMSBResponse" />
  </wsdl:message>
  <wsdl:message name="RecollectMSBSoapIn">
    <wsdl:part name="parameters" element="tns:RecollectMSB" />
  </wsdl:message>
  <wsdl:message name="RecollectMSBSoapOut">
    <wsdl:part name="parameters" element="tns:RecollectMSBResponse" />
  </wsdl:message>
  <wsdl:message name="AddMSBSoapIn">
    <wsdl:part name="parameters" element="tns:AddMSB" />
  </wsdl:message>
  <wsdl:message name="AddMSBSoapOut">
    <wsdl:part name="parameters" element="tns:AddMSBResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMSBSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMSB" />
  </wsdl:message>
  <wsdl:message name="UpdateMSBSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMSBResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMSBSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMSB" />
  </wsdl:message>
  <wsdl:message name="DeleteMSBSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMSBResponse" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentWiseDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetDepartmentWiseData" />
  </wsdl:message>
  <wsdl:message name="GetDepartmentWiseDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDepartmentWiseDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddDepartmentWiseDataEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddDepartmentWiseDataEntry" />
  </wsdl:message>
  <wsdl:message name="AddDepartmentWiseDataEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddDepartmentWiseDataEntryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentWiseDataEntrySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentWiseDataEntry" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentWiseDataEntrySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentWiseDataEntryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDepartmentWiseDataEntrySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentWiseDataEntry" />
  </wsdl:message>
  <wsdl:message name="DeleteDepartmentWiseDataEntrySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentWiseDataEntryResponse" />
  </wsdl:message>
  <wsdl:message name="GetWardWiseDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetWardWiseData" />
  </wsdl:message>
  <wsdl:message name="GetWardWiseDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetWardWiseDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddWardWiseDataSoapIn">
    <wsdl:part name="parameters" element="tns:AddWardWiseData" />
  </wsdl:message>
  <wsdl:message name="AddWardWiseDataSoapOut">
    <wsdl:part name="parameters" element="tns:AddWardWiseDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWardWiseDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWardWiseData" />
  </wsdl:message>
  <wsdl:message name="UpdateWardWiseDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWardWiseDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWardWiseDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWardWiseData" />
  </wsdl:message>
  <wsdl:message name="DeleteWardWiseDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWardWiseDataResponse" />
  </wsdl:message>
  <wsdl:portType name="wsPatientSoap">
    <wsdl:operation name="GetPatients">
      <wsdl:input message="tns:GetPatientsSoapIn" />
      <wsdl:output message="tns:GetPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientsByEmrName">
      <wsdl:input message="tns:GetPatientsByEmrNameSoapIn" />
      <wsdl:output message="tns:GetPatientsByEmrNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByMRD">
      <wsdl:input message="tns:GetPatientByMRDSoapIn" />
      <wsdl:output message="tns:GetPatientByMRDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <wsdl:input message="tns:GetPatientByIDSoapIn" />
      <wsdl:output message="tns:GetPatientByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEMR">
      <wsdl:input message="tns:GetPatientByEMRSoapIn" />
      <wsdl:output message="tns:GetPatientByEMRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressAutoComplete">
      <wsdl:input message="tns:GetAddressAutoCompleteSoapIn" />
      <wsdl:output message="tns:GetAddressAutoCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <wsdl:input message="tns:AddPatientSoapIn" />
      <wsdl:output message="tns:AddPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input message="tns:UpdatePatientSoapIn" />
      <wsdl:output message="tns:UpdatePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <wsdl:input message="tns:DeletePatientSoapIn" />
      <wsdl:output message="tns:DeletePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectMSB">
      <wsdl:input message="tns:CollectMSBSoapIn" />
      <wsdl:output message="tns:CollectMSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecollectMSB">
      <wsdl:input message="tns:RecollectMSBSoapIn" />
      <wsdl:output message="tns:RecollectMSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMSB">
      <wsdl:input message="tns:AddMSBSoapIn" />
      <wsdl:output message="tns:AddMSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMSB">
      <wsdl:input message="tns:UpdateMSBSoapIn" />
      <wsdl:output message="tns:UpdateMSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMSB">
      <wsdl:input message="tns:DeleteMSBSoapIn" />
      <wsdl:output message="tns:DeleteMSBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentWiseData">
      <wsdl:input message="tns:GetDepartmentWiseDataSoapIn" />
      <wsdl:output message="tns:GetDepartmentWiseDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDepartmentWiseDataEntry">
      <wsdl:input message="tns:AddDepartmentWiseDataEntrySoapIn" />
      <wsdl:output message="tns:AddDepartmentWiseDataEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentWiseDataEntry">
      <wsdl:input message="tns:UpdateDepartmentWiseDataEntrySoapIn" />
      <wsdl:output message="tns:UpdateDepartmentWiseDataEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentWiseDataEntry">
      <wsdl:input message="tns:DeleteDepartmentWiseDataEntrySoapIn" />
      <wsdl:output message="tns:DeleteDepartmentWiseDataEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWardWiseData">
      <wsdl:input message="tns:GetWardWiseDataSoapIn" />
      <wsdl:output message="tns:GetWardWiseDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddWardWiseData">
      <wsdl:input message="tns:AddWardWiseDataSoapIn" />
      <wsdl:output message="tns:AddWardWiseDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWardWiseData">
      <wsdl:input message="tns:UpdateWardWiseDataSoapIn" />
      <wsdl:output message="tns:UpdateWardWiseDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWardWiseData">
      <wsdl:input message="tns:DeleteWardWiseDataSoapIn" />
      <wsdl:output message="tns:DeleteWardWiseDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsPatientSoap" type="tns:wsPatientSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatients">
      <soap:operation soapAction="http://tempuri.org/GetPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientsByEmrName">
      <soap:operation soapAction="http://tempuri.org/GetPatientsByEmrName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByMRD">
      <soap:operation soapAction="http://tempuri.org/GetPatientByMRD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <soap:operation soapAction="http://tempuri.org/GetPatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEMR">
      <soap:operation soapAction="http://tempuri.org/GetPatientByEMR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressAutoComplete">
      <soap:operation soapAction="http://tempuri.org/GetAddressAutoComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap:operation soapAction="http://tempuri.org/AddPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap:operation soapAction="http://tempuri.org/DeletePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectMSB">
      <soap:operation soapAction="http://tempuri.org/CollectMSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecollectMSB">
      <soap:operation soapAction="http://tempuri.org/RecollectMSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMSB">
      <soap:operation soapAction="http://tempuri.org/AddMSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMSB">
      <soap:operation soapAction="http://tempuri.org/UpdateMSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMSB">
      <soap:operation soapAction="http://tempuri.org/DeleteMSB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentWiseData">
      <soap:operation soapAction="http://tempuri.org/GetDepartmentWiseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDepartmentWiseDataEntry">
      <soap:operation soapAction="http://tempuri.org/AddDepartmentWiseDataEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentWiseDataEntry">
      <soap:operation soapAction="http://tempuri.org/UpdateDepartmentWiseDataEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentWiseDataEntry">
      <soap:operation soapAction="http://tempuri.org/DeleteDepartmentWiseDataEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWardWiseData">
      <soap:operation soapAction="http://tempuri.org/GetWardWiseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWardWiseData">
      <soap:operation soapAction="http://tempuri.org/AddWardWiseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWardWiseData">
      <soap:operation soapAction="http://tempuri.org/UpdateWardWiseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWardWiseData">
      <soap:operation soapAction="http://tempuri.org/DeleteWardWiseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPatientSoap12" type="tns:wsPatientSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatients">
      <soap12:operation soapAction="http://tempuri.org/GetPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientsByEmrName">
      <soap12:operation soapAction="http://tempuri.org/GetPatientsByEmrName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByMRD">
      <soap12:operation soapAction="http://tempuri.org/GetPatientByMRD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <soap12:operation soapAction="http://tempuri.org/GetPatientByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByEMR">
      <soap12:operation soapAction="http://tempuri.org/GetPatientByEMR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressAutoComplete">
      <soap12:operation soapAction="http://tempuri.org/GetAddressAutoComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap12:operation soapAction="http://tempuri.org/AddPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap12:operation soapAction="http://tempuri.org/UpdatePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap12:operation soapAction="http://tempuri.org/DeletePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectMSB">
      <soap12:operation soapAction="http://tempuri.org/CollectMSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecollectMSB">
      <soap12:operation soapAction="http://tempuri.org/RecollectMSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMSB">
      <soap12:operation soapAction="http://tempuri.org/AddMSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMSB">
      <soap12:operation soapAction="http://tempuri.org/UpdateMSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMSB">
      <soap12:operation soapAction="http://tempuri.org/DeleteMSB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentWiseData">
      <soap12:operation soapAction="http://tempuri.org/GetDepartmentWiseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDepartmentWiseDataEntry">
      <soap12:operation soapAction="http://tempuri.org/AddDepartmentWiseDataEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentWiseDataEntry">
      <soap12:operation soapAction="http://tempuri.org/UpdateDepartmentWiseDataEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartmentWiseDataEntry">
      <soap12:operation soapAction="http://tempuri.org/DeleteDepartmentWiseDataEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWardWiseData">
      <soap12:operation soapAction="http://tempuri.org/GetWardWiseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWardWiseData">
      <soap12:operation soapAction="http://tempuri.org/AddWardWiseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWardWiseData">
      <soap12:operation soapAction="http://tempuri.org/UpdateWardWiseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWardWiseData">
      <soap12:operation soapAction="http://tempuri.org/DeleteWardWiseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsPatient">
    <wsdl:port name="wsPatientSoap" binding="tns:wsPatientSoap">
      <soap:address location="http://localhost:49983/wsPatient.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPatientSoap12" binding="tns:wsPatientSoap12">
      <soap12:address location="http://localhost:49983/wsPatient.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>